$main-font-stack: Arial, sans-serif;
$lightest-colour: #ffffff;
$darkest-colour: #000000;
$light-tone: #eeeeee;
$mid-tone-light: #cccccc;
$mid-tone-dark: #999999;
$dark-tone: #666666;
$accent-colour: #ffd700;
$accent-dark: #B8860B;
$complimentary-accent: #4169e1;
$complimentary-dark: #333333;